h1,
h2 {
  text-align: center;
  font-family: "Lobster Two", cursive;
  color: #126e82;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.page {
  background: #d8e3e7;
  border: 5px solid #126e82;
  border-radius: 3%;
  max-width: 80%;
}

.today-weather {
  display: flex;
}

.search-button {
  font-size: 20px;
  background-color: #126e82;
  border: none;
}

.search-button:hover {
  background-color: #d8e3e7;
  color: #126e82;
}

.city-name {
  font-size: 60px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.current-weather-text {
  font-size: 20px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.current-weather-text .active {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.forecast {
  text-align: center;
  padding-bottom: 10px;
}

.forecast-day {
  font-size: 25px;
}

.forecast-max-temperature {
  font-size: 20px;
  font-weight: bold;
}

.forecast-min-temperature {
  font-size: 10px;
}

.signature {
  font-size: 15px;
}

#icon {
  max-width: 20%;
  padding: 5px;
}

#description:first-letter {
  text-transform: capitalize;
}

#signature-link {
  font-weight: bold;
  color: #126e82;
}
